<h3><a class="btn btn-secondary" href="admin"><i class="fa fa-plus"></i> Create New</a> Cloth list</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Product Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each adminview}}
        <tr>
            <td>{{this.ProID}}</td>
            <td>{{this.ProName}}</td>
            <td>{{this.Price}}</td>
            <td>{{this.numofpro}}</td>
            <td>{{this.Description}}</td>
            <td class="resize">
                <img src="{{this.imglink}}" style="width:360px; height:360px; object-fit:contain"></td>
             <td>
                <a href="/edit/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/deletepro?id={{this.ProID}}">Delete</a>
                
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

