<div class="container"> 
    <div class="row" id="intro">
        <div class="col-12">
            <img class="d-block w-100" src="/imgs/Quy trình/coverphoto.jpg" alt="Second slide">
            <h1 style="text-align: center; font-size: 5em; margin-top:auto;">Products</h1>
            <form action="/products/search" method="get" style="padding-bottom: 35px;">
            
                <input type="text" class="form-control" name="ProName" placeholder="Cloth name"  >

            </form>
        </div>
    </div>

    <div class="row">
        {{#each products}}
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="/{{this.imglink}}" alt="Card image" style="height: 250px;width:100%;object-fit: cover;">
                <div class="card-body">
                    <h4 class="card-title">{{this.ProName}}</h4>
                    <p class="card-text">{{this.Description}}</p>
                    <p class="card-text">Available: {{this.numofpro}} units</p>
                    <span><button onclick="themvao('{{this.ProID}}', '{{this.ProName}}', '{{this.Price}}','{{this.numofpro}}')">Add to cart</button></span>
                    <p style="float: right;">Price: {{this.Price}} VNĐ</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    const  dict = new Map();
    const  setSP = new Set();
    sl = 0;
    function themvao(masp, tensp, giaban, maxquan) {
        maxquan = parseInt(maxquan);
        if (setSP.has(masp)) {
            x = dict.get( masp );
            if (x[2] == maxquan){
                alert("Cannot exceed product quantity");
            }
            else {
                sl++;
                x[2]++
                dict.set( masp, x );
            }
        } else {
            sl++;
            dict.set( masp, [tensp, giaban, 1] );
            setSP.add(masp);
        }
        console.log(dict);
        
        
        var elem = document.getElementById("soluong");
        elem.innerText = sl;
        var cartinfo = document.getElementById('cart');
        cartinfo.value = JSON.stringify(dict, replacer);
    }
</script>
